<ul class = "no-bullets">
  <% @articles.each do |a| %>
    <li>
      <%= div_for a do %>
	      <h3> <%= link_to a.title, a.url, target: "_blank" %> </h3>
	      <div>
		      <p> <%= time_ago_in_words a.created_at %> ago</p>
		      <p class = "like-element"> <%= link_to "like", liked_article_path(a), remote: true, method: :post %> </p>
		      <p class = "like-count"> <%= a.users.count.to_s  + " likes"%> </p>	
	      </div>
	      
	    <% end %>
    </li>
  <% end%>
</ul>